form {
  width: 50%;
  margin: 0 auto;
  display: grid;
}

form > [type=submit] {
  @extend .button;
  @extend .button--lg;
  @extend .button--pill;
  @extend .button--outline-info;
  width: 25%;
}

input:not([type=submit]), textarea {
  padding: 12px;
}

textarea {
  resize: vertical;
}
