form {
  width: 50%;
  margin: 0 auto;
  display: grid;

  [type=submit] {
    @extend .button;
    @extend .button--lg;
    @extend .button--pill;
    @extend .button--outline-info;
    width: 25%;
  }
  
  input:not([type=submit]), textarea {
    padding: 12px;
  }
  
  textarea {
    resize: vertical;
  }
  
}

@media (min-width: 500px) and (max-width: 950px) {
  form {
    width: 80%;
  }
}

@media (max-width: 500px) {
  form {
    width: 100%;    
  }
}
